# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: meld e2e ui test manual run
on:
  workflow_dispatch:
    inputs:
        env:
          description: 'set env : dev | stage '
          required: false
          default: 'dev'
        tags:
          description: 'specify test tags'
          required: false
          default: '@ui'
        grep:
          description: 'grep testomat param --ignore'
          required: false
          default: ''
        run:
          description: 'run : testomat param --ignore'
          required: false
        testomatio:
          description: 'testomatio : testomat param --ignore'
          required: false
        
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Node setup
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
      
      - name : print tags
        run: echo "${{ github.event.inputs.tags }}"  
      - name : print env
        run: echo "${{ github.event.inputs.env }}"  
      - name : print grep
        run: echo "${{ github.event.inputs.grep }}"          
      - name : print testomatio
        run: echo "${{ github.event.inputs.testomatio }}"          
